{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "44",
          "android": "5",
          "ios": "9"
        }
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ]
  ]
}
